{% extends 'base.html' %}

{% block title %}
Прогноз ИПЦ
{% endblock %}

{% block body %}
<table style="text-align: center;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <iframe style="text-align: center; margin-bottom: 10px;" src="./static/01_graph.html" height="285" width="645" frameborder="0"></iframe>
                    </td>
                    <td>
                        <iframe style="text-align: center; margin-bottom: 10px;" src="./static/02_graph.html" height="285" width="645" frameborder="0"></iframe>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="text-align: center;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <iframe style="text-align: center; margin-bottom: 10px;" src="./static/03_graph.html" height="285" width="645" frameborder="0"></iframe>
                    </td>
                    <td>
                        <iframe style="text-align: center; margin-bottom: 10px;" src="./static/04_graph.html" height="285" width="645" frameborder="0"></iframe>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}